RewriteEngine on

  RewriteRule ^assets - [L,NC]
  
  IndexIgnore *

  RewriteRule ^(.*)/(.*)\.(.*)/$ index.php?controller=$1&action=$2&format=$3 [L,QSA]
  RewriteRule ^(.*)/(.*)/$ index.php?controller=$1&action=$2 [L,QSA]
  RewriteRule ^(.*)/(.*)\.(.*)$ index.php?controller=$1&action=$2&format=$3 [L,QSA]
  RewriteRule ^(.*)/(.*)$ index.php?controller=$1&action=$2 [L,QSA]
  RewriteRule ^(.*)\.(.*)/?$ index.php?controller=$1&format=$2 [L,QSA]
  RewriteRule ^(.*)/?$ index.php?controller=$1 [L,QSA]